body {
  background-color: white;
  color: black;
}

div.a {
  line-height: 1.6;
  margin: 35px;
}

div.c {
  margin: 10px;
}

.dark-mode {
  background-color: #151515;
  color: white;
}

.adjust-line-height {
  line-height: 0.8em;
}
