body {
  background-color: white;
  color: black;
}

div.a {
  line-height: 1.6;
}

div.b {
  line-height: 0.5;
}

div.c {
  margin: 15px;
}

div.d {
  line-height: 0.2;
}

.dark-mode {
  background-color: #151515;
  color: white;
}

.adjust-line-height {
  line-height: 0.8em;
}
