body {
  background-color: white;
  color: black;
}

div.a {
  line-height: 1.6;
}

div.b {
  line-height: 0.5;
}

.dark-mode {
  background-color: #151515;
  color: white;
}

.adjust-line-height {
  line-height: 0.8em;
}

<style type="text/css">
<!--
 .tab { margin-left: 40px; }
-->
</style>
